*{
    margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
}
.inner_header{
    
    width: 100%;
    height: 100%;
    display:black;
    margin: 0 auto;
   
}
.header{
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    width: 100%;
	height: 112px;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;

}
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/*background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
    6
    7
    10
    --------
    13
    14
    15
    23
    28
    */
    background: linear-gradient(to top, #0c290e, #427256, #243e2e);
    background-image: url("7.jpg");
    background-size: cover;
    
}
.CreateAccount{
	width: 450px;
	height: 550px;
	background: #796525;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.2em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .99s ease-in;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.signup button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
    
/*	background: #573b8a;*/
    background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .50s ease-in;
	cursor: pointer;
}

.login button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
    
/*	background: #573b8a;*/
    background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .50s ease-in;
	cursor: pointer;
}

.login button:hover{
	background: #492b81;
}

.signup button:hover{
	background: #492b81;
}

.login label{
	/*color: #573b8a;*/
    color: black;
	transform: scale(.9);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.login{
	width: 350px;
	height: 500px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.logo{
    height: 100%;
    display: table;
    float: left;
}

.logo h1{
    color: white;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 32;
}

.Text_Logo{

    width: 400px;
    display: table-cell;
    vertical-align: middle;
    left: 0;

}
.MoonText{

    width: 355px;
    display: table-cell;
    vertical-align: middle;
    left: 0;

}

.Moon{
    width: 150px;
    height:130px;
    position:absolute;
    top:6%;
    left:50%;
    transform: translate(6%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding-top: 25px;

}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    

}

.navigation a li
{
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn
{
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
   margin-bottom: 2rem;
    padding: 1rem 0;
    border:none;
    outline:none;
	font-size: 1em;
	font-weight: bold;
    cursor: pointer;
	
}

.btn::after
{
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after
{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    
}

.btn-home:hover::after
{
    transform: scale(1,1);
}

.btn-about::after
{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    
}

.btn-about:hover::after
{
    transform: scale(1,1);
}


.btn-contact::after
{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    
}

.btn-contact:hover::after
{
    transform: scale(1,1);
}

.AllPages{
    
    position:absolute;
    top: 58%;
    left: 53%;
    transform: translate(-58%,-53%);

    width: 900px;
	height: 800px;
	background: white;
	box-shadow: 5px 20px 50px rgb(231, 209, 6);
	margin: auto;
	border-radius: 10px;
    border: 5px solid #c49d1f
	
}

.AllPages h1{

    padding-top: 30px;
    padding-left: 305px;
    color: Black;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 32;
}


.studyResources{
    position:absolute;
    top: 18%;
    left: 3%;
	width: 250px;
	height: 250px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    border: 5px solid silver
    

}
.studyResources img{
   
    padding-left: 70px;
    padding-top: 20px;
    
}

.studyResources a{
   
    padding-left: 70px;
    
}

.PrayerSchedule{
    position:absolute;
    top: 18%;
    left: 36%;

	width: 250px;
	height: 250px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    border: 5px solid silver

    

}
.PrayerSchedule img{
   
    padding-left: 70px;
    padding-top: 20px;
}

.PrayerSchedule a{
   
    padding-left: 70px;
    
}


.Feedback{
    position:absolute;
    top: 18%;
    left: 70%;

	width: 250px;
	height: 250px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    border: 5px solid silver

    

}
.Feedback img{
   
    padding-left: 70px;
    padding-top: 20px;
}

.Feedback a{
   
    padding-left: 95px;
    
}


.Preferences{
    position:absolute;
    top: 60%;
    left: 18%;

	width: 250px;
	height: 250px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    border: 5px solid silver

    

}
.Preferences img{
   
    padding-left: 70px;
    padding-top: 20px;
}

.Preferences a{
   
    padding-left: 95px;
    
}

.Chatroom{
    position:absolute;
    top: 60%;
    left: 53%;

	width: 250px;
	height: 250px;
	background: white;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
        border: 5px solid silver

    

}
.Chatroom img{
   
    padding-left: 70px;
    padding-top: 20px;
}

.Chatroom a{
   
    padding-left: 95px;
    
}

